

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="table display"  cellspacing="0"  >
    <thead>
        <tr>
            <th>Id</th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>            
        </tr>
        </thead>

    <tbody>

       

    </tbody>

</table>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<script>
    
    $(document).ready(function ()
    {
        $('#example').DataTable({
            "processing": true,
            "serverSide" : true,
            "ajax": {
                url: "@Url.Action("GetPaginated","Role")",
                type : 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder" : "Search..."
            },
            "columns": [{ "data": "id" }, { "data": "name" }, { "data": "description" }]
        });
    });


</script>

